div{border: 0px dashed #3498db;}
li{border: 0px solid red;}
.wrapper {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 13px 3px rgb(160, 212, 238);
}

.header{
    padding: 10px;
    margin-bottom: 0px;
    color: white;
    background: #34495e;
}
.header-logo{width:20%;min-width:150px;text-align:center; min-height:62px;float: left;}
.main-menu{
	float: left;
	width: 70%;
	
}
.main-menu>ul{
	
	/*min-width: 200px;*/
	display: flex;
	flex-direction:row;	
	justify-content: space-around;
	align-items: center;
	flex-wrap:wrap;
}

.main-menu>ul>li{
	padding: 5px;
	color:white;
	/*background:gray;*/
	list-style-type: none;
}
.main-menu>ul>li:hover{
	background:white;
	color:black;
}
.main-menu>ul>li>a{
	color:inherit;
	text-decoration:none;
	font-weight:bold;
	font-size: 20px;
}
.subheader .panel-heading .panel-title{
	padding: 5px 15px 5px 5px;
	text-align: right;
}
.subheader .panel-group {
	margin-bottom: 0px;
}
.subheader .panel-heading{
	padding: 0px;
}
.subheader .form-container{
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
}



.content-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: 75%;
	/*align-content: stretch;*/
}

.sidebar {
    /*float: left;*/
    min-width: 150px;
    min-height: 250px;
    padding: 5px;
    color: white;
    background: rgba(46, 204, 113, 0.5);
}
.sidebar ul>li{
	padding: 5px  5px  5px  5px;
	text-align: center;
	list-style-type: none;
	color: black;
	/*background-color:rgba(104,104,104,0.5);*/
}
.sidebar ul>li:hover{
	color: white;
	background-color:rgba(104,104,104,0.5);
}
.sidebar ul>li>a{
	font-size: 18px;
	color: inherit;
	text-decoration: none;
}




.content {
	/*flex-grow:3;
*/	/*margin-left: 150px;*/
	/*min-width: 200px;*/
    min-height: 250px;
    padding: 15px;
    color: black;
    background: #f9f9f9;
}
.content p{
	font-size: 18px;

}

.clearfix::after {
    display: table;
    content: "";
    clear: both;;
}
.footer {
	height:100px;
    padding: 10px;
   /* margin-top: 10px;*/
    color: white;
    background: #34495e;
}

@media screen and (max-device-width: 620px) {
   .content-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	}
}
